@use "../var/color" as c;
@use "../var/size" as s;


$hr-gradient: linear-gradient(to right, c.$accent-1, c.$accent-2);


main {
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6 {
        color: c.$accent-1;
    }

    figure {
        margin: s.$pad 0;
        width: 100%;

        figcaption {
            font-size: smaller;
            font-style: italic;
        }
    }

    img {
        width: 100%;
        border-radius: s.$pad * 0.5;
    }

    img[src$=".svg"] {
        background-color: c.$bg-img;
        padding: s.$pad s.$pad * 0.5;
    }

    .metadata {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        gap: s.$gap;
    }

    .description {
        font-style: italic;

        &.full {
            padding: s.$pad * 0.5 s.$pad * 0.75;
            border-left: solid 1px c.$primary;
        }

        &.compact {
            margin: 0;
            padding-left: s.$pad * 0.5;
            color: c.$muted;
        }
    }

    blockquote {
        border: 1px dotted c.$muted;
        margin: s.$pad s.$pad * 2;
        padding: 0 s.$pad;
        border-radius: s.$pad * 0.5;
    }

    table {
        width: 100%;

        margin: s.$pad 0;

        table-layout: fixed;

        border-collapse: collapse;
        border: 1px solid c.$muted;

        th, td {
            padding: 0.25em;
            text-align: start;
        }

        th {
            background-color: c.$void;
            border-bottom: 1px solid c.$primary;
        }

        tbody {
            tr:nth-child(even) {
                background-color: c.$shadow;
            }
        }
    }

    details {
        margin: 1em 0;

        border: 1px solid c.$muted;
        border-radius: 5px;

        padding: 0 s.$pad;

        summary {
            padding: s.$pad * 0.25 0;

            color: c.$accent-2-dull;

            user-select: none;
            cursor: pointer;
        }
    }

    details:not([open]) summary::after {
        content: " (click to expand)";
    }

    ul.links {
        li:not(:last-child) {
            margin-bottom: s.$pad * 0.5;
        }

        a {
            // Prevent the underline extending past the link
            display: inline-block;
        }
    }

    #TableOfContents {
        border-left: 1px dashed c.$primary;
    }

    // "socials" shortcode
    .socials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: s.$gap;

        @media print {
            justify-content: space-around;
        }

        a {
            display: flex;
            flex-direction: row;
            gap: s.$gap * 0.5;
            align-items: center;

            text-decoration: none;
        }

        svg {
            background-color: c.$bg-img;
            padding: s.$pad * 0.25;
            border-radius: s.$pad * 0.25;

            height: 2em;
            width: 2em;
        }
    }

    // Skills & Geo shortcodes
    .info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: s.$gap * 0.5;

        margin: 0.5em 0.75em;

        opacity: 75%;

        img {
            position: relative;
            top: 3px;

            height: 1em;
            width: 1em;

            background-color: unset;
            padding: unset;
            border-radius: unset;

            filter: c.$invert;

            margin: 0 0.25em;
        }
    }
}
