@use "../var/color" as c;
@use "../var/size" as s;


$hr-gradient: linear-gradient(to right, c.$accent-1, c.$accent-2);


main {
    line-height: 1.5;

    svg, img[src$=".svg"] {
        border-radius: s.$pad * 0.5;
        background-color: c.$bg-img;
        padding: s.$pad s.$pad * 0.5;
    }

    .metadata {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        gap: s.$gap;
    }

    .description {
        font-style: italic;

        &.full {
            padding: s.$pad * 0.5 s.$pad * 0.75;
            border-left: solid 1px c.$primary;
        }

        &.compact {
            margin: 0;
            padding-left: s.$pad * 0.5;
            color: c.$muted;
        }
    }

    ul.links {
        li:not(:last-child) {
            margin-bottom: s.$pad * 0.5;
        }

        a {
            // Prevent the underline extending past the link
            display: inline-block;
        }
    }
}
