/* ============ *
 * Theme colors *
 * ============ */

$color-accent-1: #e66465;
$color-accent-2: #9198e5;

/* ============== *
 * General colors *
 * ============== */

// Background of background
$bg-bg: lightgrey;

$text: black;
$text-muted: grey;
$bg: white;

$code: black;
$code-bg: lightgrey;

$link: blue;
$link-visited: blue;
$link-hover: darkblue;
$link-active: darkblue;
$link-muted: grey;

$warning: red;

$shadow: grey;

/* ============= *
 * Header colors *
 * ============= */

$h-text: black;

$h-link: white;
$h-link-visited: white;
$h-link-hover: lightgray;
$h-link-active: lightgray;

$h-gradient: linear-gradient(45deg, $color-accent-1, $color-accent-2);

/* ============= *
 * Footer colors *
 * ============= */

$f-text: grey;

/* ======= *
 * Utility *
 * ======= */

@mixin link($link, $visited, $hover, $active) {
    color: $link;

    &:visited {
        color: $visited;
    }

    &:hover {
        color: $hover;
    }

    &:active {
        color: $active;
    }
}
