@use 'sass:color';


/* ============ *
 * Theme colors *
 * ============ */

$accent-1: #e66465;
$accent-2: #9198e5;

$accent-1-dark: color.scale($accent-1, $lightness: -50%);
$accent-2-dark: color.scale($accent-2, $lightness: -50%);

$primary: black;
$primary-bg: white;

$muted: grey;
$muted-bg: lightgrey;

$warning: red;


/* ======= *
 * Utility *
 * ======= */

@mixin link($link, $visited, $hover, $active) {
    color: $link;

    &:visited {
        color: $visited;
    }

    &:hover {
        color: $hover;
    }

    &:active {
        color: $active;
    }
}
