@use "colors" as c;


$gradient: linear-gradient(45deg, c.$accent-1, c.$accent-2);


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    background-image: $gradient;

    color: c.$dark;

    white-space: nowrap;

    position: relative;

    & .branding {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25em;

        & .title {
            font-size: 2em;
            font-weight: bold;

            padding: 0.25em 0.5em;
            border-radius: 0.3em;

            background-color: rgb(255 255 255 / 0.25);
        }

        & .tagline {
            font-size: 0.8em;
        }
    }

    & nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;

        & > * {
            flex: 1 0 auto;
        }

        & a {
            @include c.link(
                c.$bright,
                c.$bright,
                c.$muted,
                c.$muted,
            );

            padding: 0.5em 1em;

            border-radius: 0.3em;
            background-color: rgb(0 0 0 / 0.25);

            text-decoration: none;

            &:hover {
                background-color: rgb(0 0 0 / 0.5);
            }

            &:active {
                background-color: rgb(0 0 0 / 0.75);
            }
        }
    }
}
