@use "colors" as c;

$metadata-gap: 1em;
$border-padding: 0.75em;

main {
    line-height: 1.5;

    svg, img[src$=".svg"] {
        filter: drop-shadow(0 0 1em black);
    }

    .metadata {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        gap: $metadata-gap;
    }

    .description {
        font-style: italic;

        &.full {
            padding: 0.5em $border-padding;
            border-left: solid 1px c.$text;
        }

        &.compact {
            margin: 0;
            padding-left: 0.5em;
            color: c.$text-muted;
        }
    }

    ul.links li:not(:last-child) {
        margin-bottom: 0.5em;
    }

    hr {
        border: none;
        display: flex;
        align-items: center;

        height: 2em;

        &::after {
            content: "";
            flex: 1;

            height: 0.5em;
            margin: 0 0.5em;

            background: linear-gradient(to right, c.$color-accent-1, c.$color-accent-2);

            filter: blur(0.2em);
        }
    }
}
