@use "colors" as c;

$rounding: 5px;
$padding: 0.25em;

$hover-animation-duration: 10s;
$click-transition-duration: 0.5s;


@keyframes clockwork {
    0% {
        transform: rotate(0deg);
    }
    13% {
        transform: rotate(180deg);
    }
    25% {
        transform: rotate(90deg);
    }
    38% {
        transform: rotate(270deg);
    }
    50% {
        transform: rotate(180deg);
    }
    63% {
        transform: rotate(360deg);
    }
    75% {
        transform: rotate(270deg);
    }
    87% {
        transform: rotate(450deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#options {
    position: fixed;
    top: -$rounding;
    left: -$rounding;

    z-index: 1;

    padding: calc($padding + $rounding) $padding $padding calc($padding + $rounding);
    border-radius: $rounding;

    background-color: c.$bg;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;

    box-shadow: 0 0 5px c.$shadow;

    & > details > summary {
        list-style-type: none;

        width: 1.5em;
        height: 1.5em;

        &:hover {
            animation: clockwork $hover-animation-duration ease-in-out infinite;
        }
    }
    & > details[open] > summary {
        &:hover {
            animation: none;
        }
    }

    & > details > summary > img {
        height: 100%;
        width: 100%;

        cursor: pointer;
        transition: transform $click-transition-duration;
    }
    & > details[open] > summary > img {
        transform: rotate(360deg);
    }
}


#options-language {
    margin-top: 0.25em;

    & a.active {
        color: c.$link-muted;
        pointer-events: none;
    }
}
