@use "var/color" as c;
@use "var/font" as f;
@use "var/size" as s;


body {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    box-sizing: border-box;
    min-height: 100vh; // Don't be shorter than the viewport

    margin: 0 auto; // Center the body
    padding: s.$pad; // Leave some space as if the body is a sheet of paper

    & > * {
        padding: s.$pad; // Section contents should be padded even further
    }

    & main {
        flex: 1; // Grow the main section to fill the remaining space
    }

    font-family: f.$main;
}


/* ===== *
 * Links *
 * ===== */

a {
    @include c.link(
        c.$accent-2-dull,
        c.$accent-2-dull,
        c.$accent-1-dull,
        c.$accent-1-dull,
    );
}


/* ==== *
 * Code *
 * ==== */

code {
    font-family: f.$monospace;
}

// Codeblocks
pre {
    // Scroll the codeblocks to the right
    overflow-x: auto;

    // Help the user see where to scroll and that there might be more code to the right
    padding: s.$pad;
    box-shadow: inset 0 0 5px c.$shadow;
}

// Inline code
p code {
    color: c.$primary;
    background-color: c.$void;

    padding: 0 0.2em;
    border-radius: 0.2em;

    // Allow breaking words because it's better than overflowing.
    word-wrap: break-word;
}


/* ======= *
 * Utility *
 * ====== */

.center-self {
    width: min-content;
    margin: 0 auto;
}
