@use "var/color" as c;
@use "var/font" as f;
@use "var/size" as s;

@use "shared";

@use "part/header";
@use "part/main";
@use "part/footer";


/* ====== *
 * Screen *
 * ====== */

@media screen {

    html {
        background-color: c.$void;
    }

    body {
        max-width: s.$w-readable;

        color: c.$primary;
        background-color: c.$bg;

        box-shadow: 0 0 10px c.$shadow;
    }

    /* ====== *
     * Colors *
     * ====== */

    header {
        background-image: c.$header-gradient;

        .title {
            font-size: 2em;
            font-weight: bold;

            padding: 0.25em 0.5em;
            border-radius: 0.3em;

            background-color: rgb(255 255 255 / 0.25);
        }
    }

    main hr {
        border: none;
        display: flex;
        align-items: center;

        height: 2em;

        &::after {
            content: "";
            flex: 1;

            height: 0.5em;
            margin: 0 0.5em;

            background: c.$hr-gradient;

            filter: blur(0.2em);
        }
    }

    /* ===== *
     * Links *
     * ===== */

    :root {
        --external-link-icon: url("/img/external-black.svg");

        @media (prefers-color-scheme: dark) {
            --external-link-icon: url("/img/external-white.svg");
        }
    }

    :not(.embed) {

        // "Unsafe" links
        > a[href^="http:"] {
            &::after {
                // \202F is a narrow NBSP
                content: "\202F(HTTP)";
                color: c.$warning;
            }
        }

        > a[href^="https:"] {
            &::after {
                content: var(--external-link-icon);
                white-space: nowrap;
                opacity: 50%;
            }
        }
    }

    /* ======= *
     * Utility *
     * ======= */

    .print {
        display: none !important;
    }
}


/* ===== *
 * Print *
 * ===== */

@media print {

    header {
        .title, nav {
            display: none;
        }

        .name {
            font-size: 2em;
            font-weight: bold;
        }

        padding-top: 0;
        padding-bottom: 0;
    }

    footer {
        display: none;
    }

    .screen {
        display: none !important;
    }
}

@page {
    size: A4;
    margin: 1cm 0.5cm;
}
