@use 'sass:color';

$pink: #e66465;
$purple: #9198e5;

$grey-00: hsl(270, 15%, 5%);
$grey-100: hsl(0, 0%, 95%);
$grey-10: color.mix($grey-100, $grey-00, 10%);
$grey-20: color.mix($grey-100, $grey-00, 20%);
$grey-30: color.mix($grey-100, $grey-00, 30%);
$grey-40: color.mix($grey-100, $grey-00, 40%);
$grey-50: color.mix($grey-100, $grey-00, 50%);
$grey-60: color.mix($grey-100, $grey-00, 60%);
$grey-70: color.mix($grey-100, $grey-00, 70%);
$grey-80: color.mix($grey-100, $grey-00, 80%);
$grey-90: color.mix($grey-100, $grey-00, 90%);

@mixin link($link, $visited, $hover, $active) {
    color: $link;

    &:visited {
        color: $visited;
    }

    &:hover {
        color: $hover;
    }

    &:active {
        color: $active;
    }
}
