@use 'sass:color';


/* =============== *
 * Color accessors *
 * =============== */

$accent-1: var(--accent-1);
$accent-2: var(--accent-2);
$accent-1-dull: var(--accent-1-dull);
$accent-2-dull: var(--accent-2-dull);

$primary: var(--primary);
$muted: var(--muted);
$warning: var(--warning);

$bg: var(--bg);
$bg-img: var(--img-bg);
$void: var(--void);
$shadow: var(--shadow);

$code: var(--code);
$code-bg: var(--code-bg);

$invert: var(--invert);


/* ============= *
 * Static colors *
 * ============= */

$pink: #e66465;
$purple: #9198e5;
$red: #f76c6c;

$dark: black;
$mid: lightgrey;
$bright: white;


/* ====================== *
 * Light/dark theme setup *
 * ====================== */

:root {
    --accent-1: #{$pink};
    --accent-2: #{$purple};
    --accent-1-dull: #{color.scale($pink, $lightness: -50%)};
    --accent-2-dull: #{color.scale($purple, $lightness: -50%)};

    --primary: black;
    --muted: gray;
    --warning: #{$red};

    --bg: white;
    --img-bg: lightgrey;
    --void: lightgrey;
    --shadow: grey;

    --code: #111;
    --code-bg: #eee;

    --invert: none;

    @media (prefers-color-scheme: dark) {
        --accent-1: #{$pink};
        --accent-2: #{$purple};
        --accent-1-dull: #{color.scale($pink, $lightness: +20%)};
        --accent-2-dull: #{color.scale($purple, $lightness: +20%)};

        --primary: #e8e8e8;
        --muted: gray;
        --warning: #{$red};

        --bg: #080808;
        --img-bg: lightgrey;
        --void: #111;
        --shadow: #333;

        --code: #eee;
        --code-bg: #222;

        --invert: invert(1);
    }

    @media print {
        --img-bg: none;
    }
}


/* ========= *
 * Gradients *
 * ========= */

$header-gradient: linear-gradient(45deg, $accent-1, $accent-2);
$hr-gradient: linear-gradient(to right, $accent-1, $accent-2);


/* ======= *
 * Utility *
 * ======= */

@mixin link($link, $visited, $hover, $active) {
    color: $link;

    &:visited {
        color: $visited;
    }

    &:hover {
        color: $hover;
    }

    &:active {
        color: $active;
    }
}
