{{ define "main" }}
    {{ $fontSizeMax := index $.Site.Params.tagcloud "max" }}

    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul class="tagcloud">
        {{ range .Data.Terms.Alphabetical }}
            {{ $fontSize := or (index $.Site.Params.tagcloud .Count) $fontSizeMax }}
            {{ $style := printf "style=\"font-size: %s\"" $fontSize | safeHTMLAttr }}
            <li {{ $style }}>
                <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            </li>
        {{ end }}
    </ul>
{{ end }}
