@use "../var/color" as c;
@use "../var/size" as s;


$hr-gradient: linear-gradient(to right, c.$accent-1, c.$accent-2);


// General content
main {
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6 {
        color: c.$accent-1;
    }

    figure {
        margin: s.$pad * 2 0;
        width: 100%;

        figcaption {
            font-size: smaller;
            font-style: italic;
        }

        p {
            margin: 0;
        }

        img {
            width: 100%;
            border-radius: s.$pad * 0.5;
        }

        img[src$=".svg"] {
            background-color: c.$bg-img;
            padding: s.$pad s.$pad * 0.5;
        }
    }

    input {
        padding: 0 s.$pad * 0.5;

        border: none;
        border-radius: s.$pad * 0.25;
        outline: 1px solid c.$primary;

        background-color: c.$bg;
        color: c.$primary;

        &:invalid {
            outline: 2px dashed red;
        }
    }


    blockquote {
        border: 1px dotted c.$muted;
        margin: s.$pad s.$pad * 2;
        padding: 0 s.$pad;
        border-radius: s.$pad * 0.5;
    }

    table {
        width: 100%;

        margin: s.$pad 0;

        table-layout: fixed;

        border-collapse: collapse;
        border: 1px solid c.$muted;

        th, td {
            padding: 0.25em;
            text-align: start;
        }

        th {
            background-color: c.$void;
            border-bottom: 1px solid c.$primary;
        }

        tbody {
            tr:nth-child(even) {
                background-color: c.$shadow;
            }
        }
    }

    details {
        margin: 1em 0;

        border: 1px solid c.$muted;
        border-radius: 5px;

        padding: 0 s.$pad;

        $w: 1em;
        $h: 0.1em;

        summary {
            position: relative;

            user-select: none;
            cursor: pointer;

            padding: s.$pad * 0.25 0;
            padding-right: $w * 2;

            color: c.$accent-2-dull;

            &::marker {
                content: none;
            }
        }

        summary::before, summary::after {
            content: "";
            position: absolute;

            background-color: currentColor;

            width: $w;
            height: $h;

            top: calc(50% - $h);
            right: $w * 0.5;

            transition: transform 300ms, width 300ms;
        }

        summary::before {
            transform: translateX(50%);
        }

        summary::after {
            transform: translateX(50%) rotate(90deg);
        }

        &[open] summary::before {
            transform: translateX(50%) rotate(90deg);
            width: 0;
        }

        &[open] summary::after {
            transform: translateX(50%) rotate(180deg);
        }
    }
}


// Project & post lists
main .cards {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: s.$gap;

    li {
        padding: 0 s.$pad;
        border: 1px solid c.$shadow;
        border-radius: s.$pad * 0.5;
    }

    .title {
        display: block;
        font-size: 1.3em;
        font-weight: bold;
        text-decoration: none;
        margin: s.$pad * 0.67 0;
    }
}


// Metadata block
main .metadata {
    margin: s.$pad * 0.67 0;

    display: flex;
    flex-direction: column;
    gap: s.$gap * 0.67;

    opacity: 75%;

    .description {
        font-style: italic;
    }

    .fields > * {
        display: inline-flex;

        margin-left: 0.5ch;
        margin-right: 1ch;
        text-decoration: none;

        img {
            position: relative;
            width: 0.8em;
            margin-right: 0.5ch;
            filter: c.$invert;
        }
    }
}


// Table of contents
main #TableOfContents {
    ul {
        list-style-position: inside;
        padding-left: 1ch;
        ul {
            padding-left: 3ch;
        }
    }

    a {
        text-decoration: none;
    }
}


// Socials shortcode
main .socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: s.$gap;

    @media print {
        justify-content: space-around;
    }

    a {
        display: flex;
        flex-direction: row;
        gap: s.$gap * 0.5;
        align-items: center;

        text-decoration: none;
    }

    svg {
        background-color: c.$bg-img;
        padding: s.$pad * 0.25;
        border-radius: s.$pad * 0.25;

        height: 2em;
        width: 2em;
    }
}

// Skills & Geo shortcodes
main .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: s.$gap * 0.5;

    margin: 0.5em 0.75em;

    opacity: 75%;

    img {
        position: relative;
        top: 3px;

        height: 1em;
        width: 1em;

        background-color: unset;
        padding: unset;
        border-radius: unset;

        filter: c.$invert;

        margin: 0 0.25em;
    }
}
