<style>
    #calculator {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0.5em;
    }

    #calculator label {
        grid-column: 1;
    }

    #calculator input {
        grid-column: 2;
        justify-self: end;

        width: 100%;
    }

    #calculator span {
        white-space: nowrap;
        font-style: italic;
        opacity: 75%;
    }

    #calculator hr {
        grid-column: 1 / 3;

        width: 100%;
    }

    #calculator .buttons {
        grid-column: 1 / 3;

        margin-bottom: 0.5em;

        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        gap: 0.25em;
    }
</style>


<noscript>
<strong>JavaScript is required.</strong>
</noscript>


<script>

function el(key) {
    return document.querySelector("input#" + key);
}

function clearOutputs() {
    el("speed").value = "";
    el("feedXY").value = "";
    el("feedZ").value = "";
    el("stepover").value = "";
    el("stepdown").value = "";
}

function clearEverything() {
    el("diameter").value = "";
    el("flutes").value = "";
    el("feed").value = "";
    el("chipLoad").value = "";

    clearOutputs();
}

function getInput(key) {
    const e = el(key);

    if (e && e.checkValidity()) {
        const n = Number(e.value);
        if (typeof n === "number" && !Number.isNaN(n) && n !== 0) {
            return n;
        }
    }
    return undefined;
}

function update() {
    const diameter = getInput("diameter");
    const flutes = getInput("flutes");
    const feed = getInput("feed");
    const chipLoad = getInput("chipLoad");

    switch (undefined) {
        case diameter:
        case flutes:
        case feed:
        case chipLoad:
            clearOutputs();
            return;
    }

    const speed = 1000 * feed / (Math.PI * diameter);
    const feedXY = speed * flutes * chipLoad;
    const feedZ = feedXY / 2;
    const stepover = diameter * 0.45;
    const stepdown = diameter * 0.45;

    el("speed").value = speed.toFixed(0);
    el("feedXY").value = feedXY.toFixed(0);
    el("feedZ").value = feedZ.toFixed(0);
    el("stepover").value = stepover.toFixed(3);
    el("stepdown").value = stepdown.toFixed(3);
}

function setInput(key, value) {
    const e = el(key);
    e.value = value;
    update();
}

</script>


<div id="calculator">

<!-- Inputs -->

<label for="diameter">Tool diameter <span>(mm)</span></label>
<input id="diameter" type="text" inputmode="numeric" pattern="\d*(\.\d*)?" oninput="update()"/>
<div class="buttons">
    <button onclick="setInput('diameter', this.innerText)">1</button>
    <button onclick="setInput('diameter', this.innerText)">1.5</button>
    <button onclick="setInput('diameter', this.innerText)">2</button>
    <button onclick="setInput('diameter', this.innerText)">2.5</button>
    <button onclick="setInput('diameter', this.innerText)">3</button>
    <button onclick="setInput('diameter', this.innerText)">4</button>
    <button onclick="setInput('diameter', this.innerText)">5</button>
    <button onclick="setInput('diameter', this.innerText)">6</button>
    <button onclick="setInput('diameter', this.innerText)">7</button>
    <button onclick="setInput('diameter', this.innerText)">8</button>
    <button onclick="setInput('diameter', this.innerText)">9</button>
    <button onclick="setInput('diameter', this.innerText)">10</button>
</div>

<label for="flutes">Number of flutes <span>(integer)</span></label>
<input id="flutes" type="text" inputmode="numeric" pattern="\d*" oninput="update()"/>
<div class="buttons">
    <button onclick="setInput('flutes', this.innerText)">1</button>
    <button onclick="setInput('flutes', this.innerText)">2</button>
    <button onclick="setInput('flutes', this.innerText)">3</button>
    <button onclick="setInput('flutes', this.innerText)">4</button>
</div>

<label for="feed">Surface speed <span>(m/min)</span></label>
<input id="feed" type="text" inputmode="numeric" pattern="\d*(\.\d*)?" oninput="update()"/>
<div class="buttons">
    <button onclick="setInput('feed', '38.1')">Acrylic (dry)</button>
    <button onclick="setInput('feed', '60.96')">Aluminium (dry)</button>
</div>

<label for="chipLoad">Chip load <span>(mm)</span></label>
<input id="chipLoad" type="text" inputmode="numeric" pattern="\d*(\.\d*)?" oninput="update()"/>
<div class="buttons">
    <button onclick="setInput('chipLoad', this.innerText)">0.025</button>
    <button onclick="setInput('chipLoad', this.innerText)">0.05</button>
    <button onclick="setInput('chipLoad', this.innerText)">0.075</button>
    <button onclick="setInput('chipLoad', this.innerText)">0.1</button>
    <button onclick="setInput('chipLoad', this.innerText)">0.125</button>
</div>

<hr/>

<!-- Results -->

<label for="speed">Spindle speed <span>(RPM)</span></label>
<input id="speed" type="text" readonly/>

<label for="feedXY">Feed XY <span>(mm/min)</span></label>
<input id="feedXY" type="text" readonly/>

<label for="feedZ">Feed Z or plunge <span>(mm/min)</span></label>
<input id="feedZ" type="text" readonly/>

<label for="stepover">Stepover <span>(mm)</span></label>
<input id="stepover" type="text" readonly/>

<label for="stepdown">Stepdown <span>(mm)</span></label>
<input id="stepdown" type="text" readonly/>

<div class="buttons">
    <button onclick="clearEverything()">Clear</button>
    <button onclick="update()">Update</button>
</div>

<hr/>

</div>
