<div class="metadata">
    {{ if .Date }}
        {{ $dateSystem := .Date.Format "2006-01-02" }}
        {{ $dateReadable := .Date.Format .Site.Params.dateFormat }}

        <time datetime="{{ $dateSystem }}">
            {{ $dateReadable }}
        </time>
    {{ end }}

    {{ range .Params.tags }}
        {{ $href := print (relLangURL "tags/") (urlize .) }}
        <a href="{{ $href }}">{{ . }}</a>
    {{ end }}
</div>

{{ if .Params.description }}
    <p class="description full">
        {{ .Params.description | markdownify }}
    </p>
{{ end }}
