<div id="options">
    <script async src="/js/options.js"></script>

    <details>
        <summary>
            <img src="/img/options.svg" alt="Options">
        </summary>

        <div id="options-language">
            Language:

            {{ $currentLanguage := .Site.Language }}
            {{ range .Site.Languages }}
                {{ $class := "" }}
                {{ if eq . $currentLanguage }}
                    {{ $class = "active" }}
                {{ end }}
                <a href="/{{ . }}" class="{{ $class }}">[{{ . }}]</a>
            {{ end }}
        </div>

        <!-- To be implemented -->
        <label hidden>
            Theme:
            <select onchange="">
                <option value="system">System</option>
                <option value="light">Light</option>
                <option value="dark">Dark</option>
                <option value="light-hc">Light (High Contrast)</option>
            </select>
        </label>
    </details>
</div>
