{{ $readingTime := in .Site.Params.readingTimeSections .CurrentSection.Path }}

{{ if (or .Params.description $readingTime .Params.tags .Date) }}
    <div class="metadata">

        {{ if .Params.description }}
            <div class="description">
                {{ .Params.description | markdownify }}
            </div>
        {{ end }}

        {{ if (or .Params.draft $readingTime .Date .Params.tags) }}
            <div class="fields">
                {{ if .Params.draft }}
                    <div class="draft">
                        {{ partial "icon/draft.svg" . }}
                        Draft
                    </div>
                {{ end }}

                {{ if $readingTime }}
                    <div>
                        {{ partial "icon/clock.svg" . }}
                        {{ partial "reading-time" . }}
                    </div>
                {{ end }}

                {{ if .Date }}
                    {{ $dateSystem := .Date.Format "2006-01-02" }}
                    {{ $dateReadable := .Date.Format .Site.Params.dateFormat }}
                    <div>
                        {{ partial "icon/calendar.svg" . }}
                        <time datetime="{{ $dateSystem }}">
                            {{ $dateReadable }}
                        </time>
                    </div>
                {{ end }}

                {{ range .Params.tags }}
                    {{ $href := print (relLangURL "tags/") (urlize .) }}
                    <a href="{{ $href }}">
                        {{ partial "icon/tag.svg" . }}
                        {{ . }}
                    </a>
                {{ end }}
            </div>
        {{ end }}
    </div>
{{ end }}
