{{- $macros := dict
    "\\alig" "\\begin{align}"
    "\\ealig" "\\end{align}"
    "\\aligd" "\\begin{aligned}"
    "\\ealigd" "\\end{aligned}"
    "\\defineas" "\\coloneqq"
    "\\R" "\\mathbb{R}"
    "\\RR" "\\mathbb{R}^2"
    "\\vecl" "\\overrightarrow{#1}"
}}
{{- $opts := dict
    "output" "htmlAndMathml"
    "strict" "error"
    "throwOnError" false
    "displayMode" (eq .Type "block")
    "macros" $macros
}}
{{- with try (transform.ToMath .Inner $opts) }}
    {{- with .Err }}
        {{- $message := "Unable to render mathematical markup to HTML using the 'transform.ToMath' function:" }}
        {{- $location := $.Position }}
        {{- errorf "%s\nat %s:\n%s" $message $location . }}
    {{- else }}
        {{- .Value }}
        {{- $.Page.Store.Set "hasMath" true }}
    {{- end }}
{{- end -}}
