<div class="embed socials">
    <a href="mailto:ftvkyo@gmail.com">
        {{ partial "icon/email.svg" . }}

        <span>ftvkyo@gmail.com</span>
    </a>
    <a href="https://github.com/ftvkyo">
        {{ partial "icon/github.svg" . }}

        <span>github.com/ftvkyo</span>
    </a>
    <a href="https://t.me/ftvkyo">
        {{ partial "icon/telegram.svg" . }}

        <span>t.me/ftvkyo</span>
    </a>
    <a href="https://discordapp.com/users/ftvkyo">
        {{ partial "icon/discord.svg" . }}

        <span>@ftvkyo</span>
    </a>
    <a href="https://www.linkedin.com/in/ftvkyo/">
        {{ partial "icon/linkedin.svg" . }}

        <span>linkedin.com/in/ftvkyo</span>
    </a>
</div>
