{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul>
        {{ range .Pages.ByPublishDate.Reverse }}
        {{ if not (isset .Params "archived") }}
            <li>
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                </a>
                ({{ .PublishDate.Format $.Site.Params.dateFormat }})
            </li>
        {{ end }}
        {{ end }}
    </ul>

    <h2>{{ .Params.textArchived }}</h2>
    <ul>
        {{ range .Pages.ByPublishDate.Reverse }}
            {{ if isset .Params "archived" }}
                <li>
                    <a href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                    ({{ .PublishDate.Format $.Site.Params.dateFormat }})
                </li>
            {{ end }}
        {{ end }}
    </ul>
{{ end }}
