{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <ul class="posts">
        {{ range .Pages.ByPublishDate.Reverse }}
            {{ if not .Params.archived }}
                {{ partial "list-item.html" . }}
            {{ end }}
        {{ end }}
    </ul>

    <h2>{{ .Params.textArchived }}</h2>
    <ul class="posts">
        {{ range .Pages.ByPublishDate.Reverse }}
            {{ if .Params.archived }}
                {{ partial "list-item.html" . }}
            {{ end }}
        {{ end }}
    </ul>
{{ end }}
